.rate{
    width: 80%;
    color:white;
  
        margin-top: 3%;
        height: 40px;
    width: 50%;
    border-radius: 1%;
}

.btn-primary{
    background-color:rgb(16, 16, 37);
}
.group{
    width: 90%;
}

.star{
    font-size: xx-large;
    color:white;
}


.fill-star{
    color: rgb(234, 179, 75);
}

.tester{
    width: 90%;
    align-items: center;
    padding: 6%;
}

.result{
    align-items: center;
    justify-content: center;
    label{
        margin-right: 2%;
    }
}